<FilesMatch "\.js\?">
  Header set Content-Type "text/javascript"
</FilesMatch>

<FilesMatch "\.css\?">
  Header set Content-Type "text/css"
</FilesMatch>

<FilesMatch "\.php\?">
  Header set Content-Type "text/html"
</FilesMatch>

CheckSpelling Off

RewriteEngine on
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(index\.php)$ $1\%3F%1 [L]

RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(skins/common/wikibits\.js)$ $1\%3F%1 [L]

RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(skins/common/ajax\.js)$ $1\%3F%1 [L]

RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(skins/common/shared\.css)$ $1\%3F%1 [L]

RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(skins/common/commonPrint\.css)$ $1\%3F%1 [L]

RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(skins/monobook/main\.css)$ $1\%3F%1 [L]
